html, body {
    height: 100%; /* Make sure the html and body are at least the height of the viewport */
    margin: 0; /* Remove the default margin */
  }
  
  .container-fluid {
    display: flex; /* Use flexbox to control the layout */
    flex-direction: row; /* Arrange children in a row */
    min-height: 100vh; /* Ensure container is at least the height of the viewport */
  }
  
  #bdSidebar {
    background-color: #6081ce !important;
    flex: 0 0 15%; /* Do not grow or shrink, maintain the 15% width */
    height: auto; /* Height will be automatically adjusted */
    min-height: 100%; /* Ensure it's at least the height of the flex container */
    width: 15%;
  }



.mynav { 
	color: #fff; 
} 

.mynav li a { 
	color: #fff; 
	text-decoration: none; 
	width: 100%; 
	display: block; 
	border-radius: 5px; 
	padding: 8px 5px; 
} 

.mynav li a.active { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a:hover { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a i { 
	width: 25px; 
	text-align: center; 
} 

.notification-badge { 
	background-color: rgba(255, 255, 255, 0.7); 
	float: right; 
	color: #222; 
	font-size: 14px; 
	padding: 0px 8px; 
	border-radius: 2px; 
}




.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
}

.menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #eee;
}

.menu li:last-child a {
    border-bottom: none;
}

.card-lg, .card-sm, .not-card {
    border-radius: 25px;
    background-color: #9bb8fc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.card-lg {
    width: 50vw;
    height: 38vh;
}

.card-sm {
    width: 22.5vw;
    height: 20vh;
    margin-top: 20px;
    display: inline-block;
}

.not-card {
    width: 25vw;
    height: 50vh;
}

.notification
{
    padding: 5% 0;
    
}
.notification svg
{
    width: 7.5%;
}

.lightning
{
    color: #FFC107;
}
.not-card i
{
    color: #769cf5;
}
.main-card-cont
{
    margin-top: 7.5em;
    color: white;
    display: grid;
    columns: 2;
    justify-content: space-between;
}
.item1
{
    grid-column: 1;

}
.item2
{
    grid-column: 2;
}



li span
{
    font-size: 1.25em;
    color: white;
}
li i
{
    color: white;
}

#myChart {
    /* background-color: #EAEFFB; */
    width: 100%;
}


#chart-holder
{
    height: auto;
}


.container
{
    position: relative;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid transparent !important;
    border-radius: 4px;
    position: absolute;
    background-color: rgba(69, 69, 69, 0.3) !important; /* White background with 70% opacity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds subtle shadow */
  }
  


.menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    border-bottom:none !important;
  }
  
.menu li:last-child a {
    border-bottom: none;
  }

.card-lg
{
    width: 50vw;
    height: 38vh;
    border-radius: 25px;
    /* background-image: url("../images/5.webp"); */
    background-color: #9bb8fc;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
}


.features-card
{

    width: 25vw;
    height: 18vh;
    border-radius: 25px;
    background-color: #9bb8fc;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;

}
.card-sm {
    width: 22.5vw;  /* Match the width of card-lg */
    height: 20vh; /* Shorter height */
    border-radius: 25px;
    background-color: #9bb8fc; /* Slightly different color for distinction */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Space between card-lg and card-sm */
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    color: white;
}


.card-md {
    width: 30vw;
    height: 40vh;
    border-radius: 25px;
    /* background-image: url("../images/5.webp"); */
    background-color: #9bb8fc;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;

}
.quality-bar {
    margin: 20px;
    width: 200px; height: 100px
  }



.card-icon
{
    color: #769cf5;
}


.not-card
{
    width: 25vw;
    height: 50vh;
    border-radius: 25px;
    background-color: #9bb8fc;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.4em;

}

.circle
{
    width: 40px;
    height: 40px;
    background-color: #adc5fc;
    border-radius: 50px;
}

#prg
{
    margin-left: 22.5%;
    margin-top:10%;
}


#menu-arr
{
    color: white !important;
    cursor: pointer;
}


.card-lg-features
{
    width: 30vw;
    height: 30vh;
    border-radius: 25px;
    /* background-image: url("../images/5.webp"); */
    background-color: #9bb8fc;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}


@media (max-width: 768px) {
    
  
    .card-lg, .card-sm,.card-lg-features, .card-md {
      width: 100%;
    }

    .card-lg ,.card-lg-features{
        margin-top: 25%;
    }

    #prg{
        margin-left: 12.5%;
    }
    #menu {
      display: none; /* Hide the sidebar menu on small screens */
    }

    #bdSidebar{
        width: auto;
    }
    /* #sidebar .nav-link {
        display: block !important; 
        padding: 2px 10px !important;
      } */
}